@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card-deck">
    <div class="card border-primary mb-3">
        <div class="card-header">Number of available beds</div>
        <div class="card-body text-primary text-center">
            <h2 class="card-title">@Model.AvailableBeds</h2>
            <p class="card-text"></p>
        </div>
    </div>

    <div class="card border-primary mb-3">
        <div class="card-header">Number of admissioned patients</div>
        <div class="card-body text-primary text-center">
            <h2 class="card-title">@Model.AdmissionedPatients</h2>
            <p class="card-text"></p>
        </div>
    </div>

    <div class="card border-primary mb-3">
        <div class="card-header">Most crowded section</div>
        <div class="card-body text-primary text-center">
            <h2 class="card-title">Departments</h2>

        </div>
    </div>
</div>

<h1>Patients list</h1>
<a asp-page="Patients/AddPatient" class="btn btn-primary btn-lg">New patient</a>

@if (Model.Patients.Count() > 1)
{
    <table class="table mt-3 ">

        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.Patients)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@patient.Name</td>
                    <td>@patient.Age</td>
                    <td>
                        <a asp-route-Id="@patient.Id" asp-page="Patients/Patient" class="btn btn-link">Open Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>}
else
{
    <h4 class="mt-1">No Patients have been added yet</h4>
}


@section option{
    <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                Reset Initialization
            </button>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Initialization Reset</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to reset initialization?<br />
                        This action will delete all beds information and sections,
                        admissioned patients will also be reset
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form method="post">
                            <button asp-page-handler="Reset" type="submit" class="btn btn-danger">
                                Yes Delete them!
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </li>
}